/* style/main.css */

body {
  font-family: "BIZ UDPGothic", "Yu Gothic", "Meiryo", sans-serif;
  background-color: #ffffff;
  color: #2c2c2c;
  max-width: 680px;
  margin: 5rem auto;
  padding: 2rem;
  line-height: 1.4; /* 行間狭め */
  font-size: 16px;
  text-align: justify;
}

h1 {
  text-align: center;
  color: #444;
  font-weight: normal;
  margin-bottom: 2rem;
}

a {
  color: #006699;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  margin: 2rem auto;
  max-width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
